<div class="my-3 text-center">
	<h1>Ops. Algo deu errado.</h1>
</div>
<div class="row text-center">
	<div class="col-6 offset-3 alert alert-danger p-3 my-3">
		<%= error.message %> <span><a class="link-secondary" href="/campgrounds">Voltar.</a></span>
	</div>
</div>