.campgrounds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards {
    width: 24rem;
}

@media (min-width: 1400px) {
    .cards img {
        max-height: 250px;
    }
}

@media (max-width: 1400px) {
    .cards {
        width: 40rem;
    }
}

.carousel-img {
    width: 900px;
    height: 600px;
}