<h1 class="mt-3">Add a Campground</h1>
<div class="d-flex flex-column m-5">
	<div>
		<form action="/campgrounds" method="POST">
			<div class="mb-3">
				<label for="title" class="form-label">Title:</label>
				<input type="text" class="form-control" name="title" id="title">
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description: </label>
				<textarea name="description" class="form-control" id="description" cols="20" rows="5">
        </textarea>
			</div>
			<div class="mb-3">
				<label for="price" class="form-label">Price:</label>
				<input type="text" class="form-control" name="price" id="price">
			</div>
			<div class="mb-3">
				<label for="location" class="form-label">Location:</label>
				<input type="text" class="form-control" name="location" id="location">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>