<%- include('../includes/head') %>
<%- include('../includes/navbar') %>
<div class="container">
<form action="/campgrounds" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description: </label>
        <textarea name="description" class="form-control" id="description" cols="20" rows="15">
        </textarea>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input type="text" class="form-control" name="price" id="price">
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input type="text" class="form-control" name="location" id="location">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<%- include('../includes/foot') %>