<div class="row text-center mt-3">
	<div class="col">
		<h1>Register</h1>
	</div>
</div>
<div class="d-flex justify-content-center">
	<div class="mx-3" style="width: 100%; max-width: 690px;">
		<form action="/users/register" method="POST">
			<div class="mb-3">
				<label for="email" class="form-label">E-mail:</label>
				<input type="email" class="form-control" name="email" id="email" required>
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="mb-3">
				<label for="username" class="form-label">Username: </label>
				<input type="text" name="username" class="form-control" id="username" required>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password: </label>
				<input type="password" class="form-control" name="password" id="password" required>
				<div id="passwordHelp" class="form-text">Minimum eight characters, at least one letter and one number</div>
			</div>
			<button type="submit" class="btn btn-success">Register</button>
		</form>
	</div>
</div>